/* main navigation */
 
.main-navbar {
  background-color:  #331a08ef !important;
}
 
.navbar-brand {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 600;
   color: #ececec !important;
}
.color {
  font-weight: 500;
  color: #ececec !important;
  padding: 6px 16px;
  margin-right: 10px;
  font-size: 15px;
    
     
}
 
  
 
  
.color:hover {
  background-color: #6f4e374f;
  color: #fff !important;
 
  
  
}
 
.lang-switcher {
  display: flex;
  gap: 5px; 
}
.lang-switcher button {
  border: 3px solid #e2e2e293;
  background: transparent;
  color: #fffffffb;
  padding: 5px ;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
   font-weight: 500;
}

.lang-switcher button:hover {
   background-color: #6f4e374f;
  color: #fff;
}

.cart-icon {
  margin-left: auto;
}

.cart-link {
  font-size: 20px;
  color: #e0dfdf !important;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 20%;
  transition: all 0.3s ease;
}

.cart-link:hover {
  background-color: #6f4e374f;
  
}

 body {
    margin: 0;
    padding: 0;
}
.about-section {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.589),
            rgba(0, 0, 0, 0.637)
        ),
        url("/styles/images/istock-801396374.avif");
        ;

    background-size: cover;
    background-position: center;
    padding: 228px 20px;
     min-height: 100vh;
       
}

 
 
.content-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: #e2e2e2;
   background: rgba(0, 0, 0, 0.274);
    border-radius: 20px;
    
   
   
    
    
}
.content-container p {
  padding-bottom: 1em ;
}

.section-title {
    font-size: 45px;
    margin-bottom: 20px;
    color: #fffbfbea;
}

.section-text {
    font-size: 20px;
}
.site-footer {
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    padding: 12px ;
    margin-top: 0;
    
}

.footer-text {
    margin: 0;
    font-size: 14px;
}


@media (max-width: 768px) {
/* NAV */
  .navbar-brand {
      font-size: 18px;
    
  }

  .color {
    font-size: 14px;
    padding: 5px 12px;
    margin-right: 6px;
  }
  .navbar-toggler {
  box-shadow: none !important;
  background-color: #ebe8e8f6;
  font-size: 15px;
  padding: 5px 8px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

  .cart-link {
    font-size: 22px;
  }
    .cart-icon {
      
    margin: 10px 0;
  }
  
     
   
  .lang-switcher {
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
  }

  .lang-switcher button {
     min-width: 36px;
  height: 36px;
    
  }
  .section-text {
    font-size: 15px;
}
}