.main-navbar {
  background-color: #ececec7c !important;
}
 
.navbar-brand {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 600;
  color: #7748279d; 
}
.color {
  font-weight: 500;
  color: #774827 !important;
  border: 1px solid #3b2e2475;
  padding: 6px 16px;

  border-radius: 10px;
  border-width: 2px;
  margin-right: 10px;
  font-size: 15px;
  transition: all 0.4s ease;
}
.color:hover {
  background-color: #6f4e379d;
  color: #fff !important;
}
 
.lang-switcher {
  display: flex;
  gap: 5px; 
}
.lang-switcher button {
  border: 3px solid #291c1293;
  background: transparent;
  color: #2c0a0afd;
  padding: 5px ;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
   font-weight: 500;
}

.lang-switcher button:hover {
  background: #3109096e;
  color: #fff;
}

.cart-icon {
  margin-left: auto;
}

.cart-link {
  font-size: 26px;
  color: #472b17b0 !important;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 20%;
  transition: all 0.3s ease;
}

.cart-link:hover {
  background-color: rgba(111, 78, 55, 0.2);
  color: #6f4e37 !important;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f3f0;
    color: #333;
    
}

/* Menu section */
.menu-section {
    padding: 60px 20px;
   background: linear-gradient(rgba(92, 92, 92, 0.4), rgba(77, 75, 75, 0.4)),
                url("https://media.istockphoto.com/id/1135359711/photo/roasted-coffee-beans-falling-down.jpg?b=1&s=1024x1024&w=0&k=20&c=eK8cotN9K00g8s8a4LLqPIjpqBLrNeg7P74pGBxh16I=");
    background-size: cover;
    background-position: center;
}

.section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    color: #e7e7e7;
   font-family:'Times New Roman', Times, serif;
}

/* Grid */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}
.menu-title {
  grid-column: 1 / -1; /* πιάνει όλο το πλάτος */
  text-align: center;
  font-size: 42px;
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
  margin: 80px 0 40px;
  position: relative;
  letter-spacing: 2px;
}

/* Διακοσμητική γραμμή */
.menu-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  background: #2b080875;
  margin: 15px auto 0;
  border-radius: 5px;
}
   

  
  
 
/* Κάρτες */
.menu-item {
    background-color: #ffffff;
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

/* Τίτλος προϊόντος */
.menu-item h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #6f4e37;
}

/* Περιγραφή */
.menu-item p {
    font-size: 14px;
    margin-bottom: 15px;
    color: #555;
}

/* Τιμή */
.menu-item span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.menu-item {
  background: #fff;
  border-radius: 18px;
  padding: 25px;
  text-align: center;
  position: relative;
}

.menu-item .price {
  display: block;
  font-weight: 600;
  margin: 10px 0;
}

.menu-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.qty {
  width: 55px;
   padding: 6px;
    border: 1px solid #ccc;
   border-radius: 8px;
   text-align: center;
}

.add-to-cart {
  background: #6f4e37;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-to-cart:hover {
  background: #56392b;
  transform: scale(1.05);
}


/* Footer */
.site-footer {
   background-color: #2e2e2e;
    color: white;
    text-align: center;
     padding: 25px ;
    
}

.footer-text {
    margin: 0;
    font-size: 14px;
}