 
 
.main-navbar {
  background-color:  #331a08ef !important;
}
 
.navbar-brand {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 600;
   color: #ececec !important;
}
.color {
  font-weight: 500;
  color: #ececec !important;
  padding: 6px 16px;
  margin-right: 10px;
  font-size: 15px;
    
     
}

  
 
  
.color:hover {
  background-color: #6f4e374f;
  color: #fff !important;
 
  
  
}
 
.lang-switcher {
  display: flex;
  gap: 5px; 
}
.lang-switcher button {
  border: 3px solid #e2e2e293;
  background: transparent;
  color: #fffffffb;
  padding: 5px ;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
   font-weight: 500;
}

.lang-switcher button:hover {
   background-color: #6f4e374f;
  color: #fff;
}

.cart-icon {
  margin-left: auto;
}

.cart-link {
  font-size: 20px;
  color: #e0dfdf !important;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 20%;
  transition: all 0.3s ease;
}

.cart-link:hover {
  background-color: #6f4e374f;
  
}

/* Menu section */
.menu-section {
    padding: 60px 20px;
   background: linear-gradient(rgba(92, 92, 92, 0.4), rgba(77, 75, 75, 0.4)),
                url("https://media.istockphoto.com/id/1135359711/photo/roasted-coffee-beans-falling-down.jpg?b=1&s=1024x1024&w=0&k=20&c=eK8cotN9K00g8s8a4LLqPIjpqBLrNeg7P74pGBxh16I=");
    background-size: cover;
    background-position: center;
}

.section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    color: #e7e7e7;
   font-family:'Times New Roman', Times, serif;
}

 
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}
.menu-title {
  grid-column: 1 / -1;  
  text-align: center;
  font-size: 42px;
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
  margin: 80px 0 40px;
  position: relative;
  letter-spacing: 2px;
}

 
.menu-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  background: #2b080875;
  margin: 15px auto 0;
  border-radius: 5px;
}
   

  
  
 
.menu-item {
    background-color: #ffffff;
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 
.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}
 
.menu-item h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #6f4e37;
}

 
.menu-item p {
    font-size: 14px;
    margin-bottom: 15px;
    color: #555;
}

 
.menu-item span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.menu-item {
  background: #fff;
  border-radius: 18px;
  padding: 25px;
  text-align: center;
  position: relative;
}

.menu-item .price {
  display: block;
  font-weight: 600;
  margin: 10px 0;
}

.menu-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.qty {
  width: 55px;
   padding: 6px;
    border: 1px solid #ccc;
   border-radius: 8px;
   text-align: center;
}

.add-to-cart {
  background: #6f4e37;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-to-cart:hover {
  background: #56392b;
  transform: scale(1.05);
}


/* Footer */
.site-footer {
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    padding: 12px ;
    margin-top: 0;
    
}

.footer-text {
    margin: 0;
    font-size: 14px;
}





@media (max-width: 768px) {
/* NAV */
  .navbar-brand {
    font-size: 20px;
  }

  .color {
    font-size: 14px;
    padding: 5px 12px;
    margin-right: 6px;
  }

  .cart-link {
    font-size: 22px;
  }
    .cart-icon {
      
    margin: 10px 0;
  }
   .navbar-toggler {
  box-shadow: none !important;
  background-color: #ebe8e8f6;
  font-size: 15px;
  padding: 5px 8px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  
}  
   
  .lang-switcher {
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
  }

  .lang-switcher button {
     min-width: 36px;
  height: 36px;
    
  }
}
